.side-bar
  .side-header
    .side-header__top-items
      .side-header__top-items__user-name
        hanano
      %ul.side-header__top-items__icons
        %li.side-header__top-items__icons__new-groups
          = link_to "#" do
            = icon('far', 'edit')
        %li.side-header__top-items__icons__edit
          = link_to "#" do
            = icon('fas', 'cog')
  .group-list
    %p.group-list__group-name
      techcamp
    %p.group-list__message
      まだメッセージがありません
    %p.group-list__group-name
      sheena_ringo
    %p.group-list__message
      まだメッセージがありません
    %p.group-list__group-name
      incidents_tokyo
    %p.group-list__message
      まだメッセージがありません